//open
h2 {
    color: darkviolet;
    font-weight: 800;
    background-color: rgb(226, 175, 107);
}

h3 {
    background-color: rgb(235, 231, 184);
    color: darkolivegreen;
}



p {
    color: rgb(15, 85, 15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

button {
    border-radius: 6px;
    color:indigo;
    background-color: rgb(233, 10, 222);
}

.open {
    color: greenyellow;
    background-color: grey;
}